ENV['TWITTER_API_KEY'] = ''
ENV['TWITTER_API_SECRET'] = ''
ENV['TWITTER_ACCESS_TOKEN'] = ''
ENV['TWITTER_ACCESS_SECRET'] = ''

ENV['KAFKA_HOST'] = "localhost"
ENV['KAFKA_PORT'] = "9092"
ENV['KAFKA_TOPIC'] = "tweetstream"

ENV['ELASTICSEARCH_SERVER'] = "localhost:9200"
